<div class="card text-center text-white bg-danger mb-3">
    <div class="card-header">
        <h5>Eaten</h5>
    </div>
    <div class="card-body">
        <ul>
            <table class="table table-striped table-hover table-sm">
                <tbody>
                    {{#each burgers}}
                    {{#if eaten}}
                    {{> burgers/burger-block data=true}}
                    {{/if}}
                    {{/each}}
                </tbody>
            </table>
        </ul>
    </div>
</div>