<div class="card text-center text-white bg-success ">
    <div class="card-header">
        <h5>Not Eaten</h5>
    </div>
    <div class="card-body">
        <ul>
            <table class="table table-striped table-hover table-sm">
                <tbody>
                    {{#each burgers}}
                    {{#unless eaten}}
                    {{> burgers/burger-block data=false}}
                    {{/unless}}
                    {{/each}}
                </tbody>
            </table>
        </ul>
    </div>
</div>