button {
    margin: 10px 10px 0px 0px;
}
html,
body {
    height: 100%;
}

#topic-buttons {
    min-height: 5em;
    padding-bottom: 1em;
}

#search-form {
    height: 40em;
}
img {
    height : 8em;
    margin : 0.25em;
}
.image-div {
    display: inline-block;
    padding: 0.25em;
    margin: 0px;
}
.name {
    background: grey;
    margin: 0px;
    text-align: center;
    padding: 0.25em;
}
.rating {
    background: lightskyblue;
    color: white;
    text-align: center;
    margin: 0px;
}